# Секретные ключи и переменные окружения
.env
.env.*

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение (если используете)
venv/
.venv/
env/

# Системные файлы macOS
.DS_Store

# Настройки редакторов
.vscode/
.idea/

# Исходные файлы с данными (чтобы не дублировать в репозиторий)
*.xlsx
*.csv